[Unit]
Description=Monthly root Btrfs scrub

[Timer]
OnCalendar=*-*-22 03:00:00
Persistent=true
RandomizedDelaySec=0
Unit=btrfs-scrub-mail.service

[Install]
WantedBy=timers.target
