ZED_EMAIL_ADDR="root"
ZED_EMAIL_PROG="/usr/bin/mail"
ZED_EMAIL_OPTS="-r 'Odin at Valhalla <sysadmin@email>' -s '@SUBJECT@' @ADDRESS@"
ZED_NOTIFY_VERBOSE=1
ZED_NOTIFY_DATA=1
ZED_USE_ENCLOSURE_LEDS=1
ZED_SYSLOG_SUBCLASS_EXCLUDE="history_event"
